* {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #559CC8;
}
.jumbotron {
    background-color: #559CC8;
    border-bottom: 25px solid #EFCB68;
}

.title-text {
    color: #EFCB68;
    font-family: 'Bangers', cursive;
    letter-spacing: .05em;
    font-size: 8em;
}

.navbar {
    margin-top: -33px;
    background-color: #F7FFDD;
    color: #000100;
    border-bottom: 25px solid #EFCB68;
    font-size: 2vh;
    font-family: 'Open Sans', sans-serif;
}

.navbar-nav {
    margin-left: 1px solid #000100;
}

.recent-github {
    font-size: 3em;
    bottom: 0;
}

.content-title {
    font-family: 'Bangers', cursive;
    letter-spacing: .05em;
    color: #50514F;
}

#titleBtn {
    background-color: #559CC8;
    border: #559CC8;
}

.gif {
    width: 400px;
    height: 400px;
    border-radius: 1em;
}

.jack-pic {
    height: 300px;
    border-radius: 1em;
}

.content {
    border: 10px solid #EFCB68;
    background-color: #F7FFDD;
    border-radius: 1em;
    font-family: 'Open Sans', sans-serif;
    color: #559CC8;
    height: fit-content;
}

@-webkit-keyframes hvr-pulse {
    25% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
    75% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  }
  @keyframes hvr-pulse {
    25% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
    75% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  }
  .hvr-pulse {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .hvr-pulse:hover, .hvr-pulse:focus, .hvr-pulse:active {
    -webkit-animation-name: hvr-pulse;
    animation-name: hvr-pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }

.library-icon {
    font-size: 7em;
}

.portfolio-display {
    border: 10px solid #559CC8;
    background-color: #559CC8;
    border-radius: 1em;
    font-family: 'Open Sans', sans-serif;
    color: #559CC8;
    position: relative;
}

.portfolio-button {
    background-color: #559CC8;
    border-color: #559CC8;
    border-radius: 1em;
    color: #EFCB68
}

.portfolio-picture {
    border-radius: 1em;
}

.project-title {
    font-family: 'Bangers', cursive;
    letter-spacing: .05em;
}

.project-description {
    background-color: #F7FFDD;
    color: #4F5D75;
    border: 5px solid #EFCB68;
    border-radius: 1em;
}


@media only screen and (max-width: 600px) {
    .title-text {
       font-size: 3em; 
    }
    .library-icon {
        
    }
}
